.deals{
    display: flex;
    background-color: var(--theme-color-reverse); 
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.deals__container{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}
.deals__title{
    font-size: 2em;
    position: relative;
}
.deals__title::after{
    content: '';
    height: 5px;
    width: 50%;
    background-color: var(--secondary-color);
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.deals__body{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.deals__text{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.deals__text h3{
z-index: 1;
font-size: .7em;
margin: 0;
padding: 0;
position: relative;
background-color: var(--secondary-color);
width: 145px;
border-radius: 50px;
}


.deals__text h1{
    margin: 3px;
    padding: 0;
    font-size: 1.5em;
}

.deals__text ul{
 display: flex;
 flex-wrap: wrap;
}

.deals__text li{
    align-self: center;
    width: 50%;
    list-style-image: url("../img/icon-pal.png");
    margin: 4px 0;
    position: relative;
   }


.deals__text a{
    font-size: .6em;
}



.deals__prices{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.deals__prices h2{
width: auto;
margin-right: 10px;
}
.deals__prices span{
    color: var(--primary-color);
}
.deals__prices h4{
width: 70%;
font-size: .8em;
color: var(--font-color-other);
}

.deals__time{
display: flex;
flex-direction: column;
width: 50%;
justify-content: space-between;
background-image: url("../img/hamburguesa.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
align-items: flex-end;
}

.deals__time div{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 12px;
    background-color: var(--secondary-color);
    margin: 1px;
    width: 20%;
    border-radius: 25px;
}

.deals__time div a{
    font-weight: bold;
}

.deals__footers{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: var(--theme-color);
    padding: 0;
    border-radius: 40px;
    position: relative;
}

.deals__footers::after{
    content:"";
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border: 5px solid var(--secondary-color);
    position: absolute;
    border-radius: 40px;
    top: 10px;
    left: 10px;
}

.deals__galery{
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    width: 60%;
    transform: translateX(-80px);
    padding: 30px;
}



.deals__img{
    width: calc(50% - 10px);
    margin: 5px;
    border-radius: 20px;
}

.deals__img-1{
    background-image: url("../img/events1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.deals__img-2{
    background-image: url("../img/events2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.deals__img-3{
    background-image: url("../img/events3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.deals__img-4{
    background-image: url("../img/events4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.deals__footers-text{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0;
    padding: 0;
    transform: translateX(-80px);
    justify-content: center;

}

.deals__footers-text{
    padding: 20px 0;
}

.deals__footers-text h1{
font-size: 1.5em;

}

.deals__footers-text p{
    font-size: .7em;
    margin: 8px 0;
    }

@media(min-width: 1400px){
    .deals__img{
    height: 200px;
    }
}

@media(max-width: 1200px){
    .deals__container{
        width: 95%;
    }
    .deals__time div{
       font-size: .8em;
    }

    .deals__galery{
        transform: translateX(-40px);
    }
    .deals__footers-text{
            transform: translateX(-40px);
    }
}

@media(max-width: 650px){


       .deals__body{
        flex-direction: column;
    }
    .deals__text{
        align-items: center;
        width: 100%;
    }
    .deals__time{

    width: 100%;
    }
    .deals__prices{
     text-align: center;
     margin-bottom: 40px;
    }
    .deals__footers{
        flex-direction: column;
    
    }

    .deals__galery{
        width: 100%;
        transform: translateX(0px);
        padding-bottom: 0;
    }

    .deals__footers-text{
            width: 100%;
            transform: translateX(0px);
            padding: 0 40px 0 40px;
            margin: 0;
            align-items: center;
    }
    .deals__img{
        height: 120px;
    }
    .deals__footers::after{
        top: 0px;
        left: 0px;
    }

}


@media(max-width: 400px){
    .deals__title{
        font-size: 1.9em;

    }
}