.discounts{
    display: flex;
    background-color: var(--theme-color-reverse);
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.discounts__content{
    width: 70%;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    
}
.discounts__img-1{
    background-image: url("../img/asado-1.jpg");
    background-position: center;
    background-size:cover;
}
.discounts__text{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.discounts__subtitle{
    font-size: .7em;
    color: var(--primary-color);
    margin: 0;
}
.discounts__title{
    font-weight: bold;
    font-size: 2.5em;
    margin: 0;

}
.discounts__body{
    
    font-size: .8em;
}

.discounts__hours{
    font-size: .8em;
    color: var( --font-color-other);
}
.discounts__contact{
    font-weight: bold;
}

.discounts__img-duo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.discounts__img-2{
    background-image: url("../img/chica.jpg");
    background-position: center;
    background-size:cover;
    width: 350px;
    height: 200px;

}

.discounts__img-3{
    display: flex;
   align-items: center;
   justify-content: center;
    width: 200px;
    height: 200px;
   position: relative;
}
.discounts__img-background{
    width: 200px;
    height: 200px;
    animation: anim-miniimg 30s ease 0s infinite normal forwards;
    position: absolute;
}

@keyframes anim-miniimg {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

    100% {
		transform: rotate(0deg);
	}
}
.discount__img-3-image{
background-image: url("../img/asado-2.jpg");
background-position: center;
background-size:cover;
width: 150px;
height: 150px;
border-radius: 50%;
position: relative;
}

.discounts__content2{
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 10px 0;
}

.discounts_title-content2{
    align-self: center;
    font-size: 1.8em;
    font-weight: bold;
    width: 30%;
    
}

.discounts__img-content2{
    display: flex;
    width: 40%;
    background-image: url("../img/pasticho.webp");
    background-position: center;
    background-size:cover;
}

.img-content2__discount{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    width: 150px;
    height: 150px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 80px 0;
    position: relative;
    top: -30px;
    left: -30px;
    animation: anim-discount 5s ease 0s infinite normal forwards;
}

.img-content2__discount::after{
    content: '';
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    position: absolute;
    border: 2px solid black;
    border-radius: 50%;
}

@keyframes anim-discount {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-20px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
.img-content2__text{
    font-weight: bold;
    font-size: .8em;
    margin: 0;
}
.img-content2__number{
    font-weight: bold;
    margin: 0;
    font-size: 2em;
}

.discount__list{
    align-self: center;
    width: 30%;
    list-style-image: url("../img/icon-pal.png");
}
.discount__list-item{
    font-size: .6em;
    color: var(--font-color-other);
    margin: 0;
}

.discount__list-btn{
    margin: 10px 0;
}

.sponsors{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
   
}
.sponsors__title{
    font-size: 1.5em;
    font-weight: bold;
}

.sponsors__img-container{
    display: flex;
    justify-content: space-between;
    width: 100%;  
}
.sponsors__img{
    width: 12%;
    max-width: 140px;
}


@media(max-width: 1200px){
    .discounts__content{
        width: 95%;
    }

    .discounts__content2{
        width: 100%;
    }
    .discounts_title-content2{
        font-size: 1.3em;
    }
    .discount__list-item{
        font-size: .5em;
    }
    .sponsors{
        width: 95%;
    }
}


@media(max-width: 950px){
    .discounts__img-1{
        display: none;
    }

    .discount__list-btn{
        width: 130px;
    }

    .discounts_title-content2{
        font-size: 1.2em;
    }


}

@media(max-width: 650px){
    .discounts__text{
        width: 100%;
    }
    .discounts__content{
        flex-direction: column;
    }
   
    .discounts__img-1{
        display: none;
    }

    .discounts__img-content2{
        width: 100%;
    }
    .discount__list{
        width: 95%;
    }
    .discount__list-btn{
        width: 170px;
    }

    .discounts_title-content2{
        width: 100%;
        font-size: 1.7em;
       
        text-align: center;
    }
    .discounts__content2{
        flex-direction: column;
    }
    .discount__list-item{
        font-size: 1em;
    }

    .discounts__title{
        font-size: 2em;
    }

    .sponsors__img-container{
        flex-wrap: wrap;
    }
    .sponsors__title{
        font-size: .8em;
        
    }

    .sponsors__img{
        width: 30%;
      
    }
}