 :root{
 --theme-color: #f5f8fd;
 --theme-color-reverse: white;
 --primary-color: #f3274c;
 --secondary-color: #ffd40c;
 --font-color: black;
 --font-color-reverse:white;
 --font-color-other: #555555;
 --width-body: 100%;
 --width-max-body: 100%;
}

 *{
   font-family: 'Playpen Sans', cursive;
    font-size: 20px;
    color: var(--font-color);
    box-sizing: border-box;

 }

 html, body{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: var(--theme-color);
 }
 .body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: var(--width-body);
    max-width: var(--width-max-body);
    margin: 0;
    padding: 0;
 }

 @media(max-width: 1200px){ 



 }
