.menu{
    display: flex;
    background-color: var(--theme-color);
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.menu__title{
    font-size: 3em;
}
.menu__list-container{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list-container-1{
    width: 32%;
}

.menu__list-container-2{
    width: 32%;
}

.menu__list{
    display: flex;
    flex-direction: column;
    background-color: var(--theme-color-reverse);
    border-radius: 30px;
    box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.56);
    padding: 30px;
}


.menu__list-title{
    position: relative;
}
.menu__list-title::after{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 4px;
    width: 20%;
    background-color: var(--secondary-color);
}

.menu__list-item{
display: flex;
flex-wrap: wrap;
border-bottom: 1px dotted var( --font-color-other);
}

.menu__list-item-last{
    border: none;
}
.menu__list-name{
    width: 70%;
}
.menu__list-price{
    width: 20%;
    color: var(--primary-color);
}
.menu__list-body{
    width: 100%;
    color: var( --font-color-other);
}

.menu__list-black{
    background-color: #0d0d0d;
}

.menu__list-title-black{
    color: var(--font-color-reverse);
}

.menu_container-2{
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu__solutions-container{
    display: flex;
    justify-content: space-between;
}
.solutions__1{
 width: 30%;
}

.solutions__1 h4{
   font-size: 1em;
   margin: 0;
   color: var(--primary-color);
   }

   .solutions__1 h1{
   font-size: 2em;
   margin: 0;
   }
.solution__2{
    width: 30%; 
    color: var(--font-color-other);
}

.menu__solutions-container-2{
    display: flex;
}

.solutions__icon-container{
    text-align:center;
}

.solutions__icon-container span{

    font-size: 3em;
    background-color: var( --secondary-color);
    width: 90px;
    height: 90px;
    padding: 15px;
    border-radius: 50%;
    position: relative;
}

.solutions__icon-container span::after{
    content:"";
    position: absolute;
    border: 1px solid white;
    width: calc(100% - 10px);
    height: calc(100% - 10px);;
    border-radius: 50%;
    left: 4px;
    top: 4px;
}

.solutions__icon-container p{
    font-size: .7em;
}

@media(max-width: 1200px){
    .menu__list-container{
        width: 95%;
    }
    .menu_container-2{
width: 95%;
    }
    .solutions__1{
        width: 40%;
    }
    .solution__2{
        width: 40%;
    }
    .menu__solutions-container-2{
        width: 95%;
    }
}

@media(max-width: 950px){
.menu__list-name{
    font-size: .8em;
    margin: 2px;
}
.menu__list-price{
    font-size: .8em;
    margin: 2px;
}
.menu__list-body{
    font-size: .6em;
    margin: 0;
}
.solutions__1{
    width: 45%;
}
.solution__2{
    width: 45%;
}
}

@media(max-width: 650px){

    .menu__list-container{
        width: 95%;
        flex-direction: column;
       
    }

    .menu__list-container-1{
        
        width: 100%;
    }
    .menu__list-container-2{
        width: 100%;
    }

    .menu__list-name{
        font-size: 1em;
        margin: 2px;
    }
    .menu__list-price{
        font-size: 1em;
        margin: 2px;
    }
    .menu__list-body{
        font-size: .8em;
        margin: 0;
    }


    .solutions__1{
        width: 48%;
        align-self: center;
    }
    .solution__2{
        width: 48%;
        font-size: .8em;
    }
    .menu__solutions-container-2{
        flex-wrap: wrap;
        justify-content: center;
    }
}