.reserve{
    display: flex;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1900' height='800' preserveAspectRatio='none' viewBox='0 0 1900 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1011%26quot%3b)' fill='none'%3e%3cpath d='M193.05 601.75a24.1 24.1 0 1 0-15.02-45.8z' fill='rgba(255%2c 212%2c 12%2c 1)'%3e%3c/path%3e%3cpath d='M1286.3 426.61L1305.55 426.61L1305.55 445.86L1286.3 445.86z' stroke='rgba(243%2c 39%2c 76%2c 1)'%3e%3c/path%3e%3cpath d='M254.65 200.63 a22.42 22.42 0 1 0 44.84 0 a22.42 22.42 0 1 0 -44.84 0z' stroke='rgba(243%2c 39%2c 76%2c 1)'%3e%3c/path%3e%3cpath d='M837.81 4.52a15.62 15.62 0 1 0 18.94 24.85z' stroke='rgba(243%2c 39%2c 76%2c 1)'%3e%3c/path%3e%3cpath d='M202.62 659.38L225.56 659.38L225.56 717.63L202.62 717.63z' stroke='rgba(243%2c 39%2c 76%2c 1)'%3e%3c/path%3e%3cpath d='M83.54 478.04 a1.86 1.86 0 1 0 3.72 0 a1.86 1.86 0 1 0 -3.72 0z' stroke='rgba(255%2c 212%2c 12%2c 1)'%3e%3c/path%3e%3cpath d='M1012.34 476.91L1050.27 476.91L1050.27 514.84L1012.34 514.84z' stroke='rgba(255%2c 212%2c 12%2c 1)'%3e%3c/path%3e%3cpath d='M66.34 287.83L97.7 287.83L97.7 319.19L66.34 319.19z' stroke='rgba(243%2c 39%2c 76%2c 1)'%3e%3c/path%3e%3cpath d='M446.58 551.47L449.87 551.47L449.87 554.76L446.58 554.76z' stroke='rgba(243%2c 39%2c 76%2c 1)'%3e%3c/path%3e%3cpath d='M372.82 303.03L402.2 303.03L402.2 332.41L372.82 332.41z' fill='rgba(255%2c 212%2c 12%2c 1)'%3e%3c/path%3e%3cpath d='M459.56 625.66 a9.81 9.81 0 1 0 19.62 0 a9.81 9.81 0 1 0 -19.62 0z' stroke='rgba(120%2c 191%2c 9%2c 1)'%3e%3c/path%3e%3cpath d='M1847.94 55.81L1857.05 55.81L1857.05 64.92L1847.94 64.92z' fill='rgba(120%2c 191%2c 9%2c 1)'%3e%3c/path%3e%3cpath d='M1873.11 358.99a12.67 12.67 0 1 0-0.4-25.34z' fill='rgba(243%2c 39%2c 76%2c 1)'%3e%3c/path%3e%3cpath d='M1240.96 614.7 a2.23 2.23 0 1 0 4.46 0 a2.23 2.23 0 1 0 -4.46 0z' fill='rgba(255%2c 212%2c 12%2c 1)'%3e%3c/path%3e%3cpath d='M904.59 115.36a64.23 64.23 0 1 0 37.47-122.87z' fill='rgba(255%2c 212%2c 12%2c 1)'%3e%3c/path%3e%3cpath d='M69.82 775.94L126.66 775.94L126.66 832.78L69.82 832.78z' fill='rgba(255%2c 212%2c 12%2c 1)'%3e%3c/path%3e%3cpath d='M282.97 689.75 a63.09 63.09 0 1 0 126.18 0 a63.09 63.09 0 1 0 -126.18 0z' fill='rgba(120%2c 191%2c 9%2c 1)'%3e%3c/path%3e%3cpath d='M999.29 90.94a32.04 32.04 0 1 0 5.18 63.87z' stroke='rgba(243%2c 39%2c 76%2c 1)'%3e%3c/path%3e%3cpath d='M1713.05 481.12a54.36 54.36 0 1 0 102.92-35.02z' stroke='rgba(120%2c 191%2c 9%2c 1)'%3e%3c/path%3e%3cpath d='M1644.15 579.47 a28.78 28.78 0 1 0 57.56 0 a28.78 28.78 0 1 0 -57.56 0z' stroke='rgba(120%2c 191%2c 9%2c 1)'%3e%3c/path%3e%3cpath d='M1115.13 730.83a70.24 70.24 0 1 0-67.81 123.03z' fill='rgba(243%2c 39%2c 76%2c 1)'%3e%3c/path%3e%3cpath d='M950.98 724.94L979.48 724.94L979.48 733.65L950.98 733.65z' fill='rgba(120%2c 191%2c 9%2c 1)'%3e%3c/path%3e%3cpath d='M1622.44 189.58L1657.98 189.58L1657.98 257.35L1622.44 257.35z' stroke='rgba(243%2c 39%2c 76%2c 1)'%3e%3c/path%3e%3cpath d='M1164.25 111.18L1167.97 111.18L1167.97 114.9L1164.25 114.9z' fill='rgba(255%2c 212%2c 12%2c 1)'%3e%3c/path%3e%3cpath d='M1358.94 492.02L1414.67 492.02L1414.67 533.92L1358.94 533.92z' fill='rgba(120%2c 191%2c 9%2c 1)'%3e%3c/path%3e%3cpath d='M394.34 184.83a60.22 60.22 0 1 0 41.53 113.05z' stroke='rgba(255%2c 212%2c 12%2c 1)'%3e%3c/path%3e%3cpath d='M1621.65 668.51a19.33 19.33 0 1 0 38.66 0.76z' fill='rgba(120%2c 191%2c 9%2c 1)'%3e%3c/path%3e%3cpath d='M459.16 296.03a49.49 49.49 0 1 0 34.07 92.94z' stroke='rgba(255%2c 212%2c 12%2c 1)'%3e%3c/path%3e%3cpath d='M190.75 736.57L229.02 736.57L229.02 774.84L190.75 774.84z' stroke='rgba(120%2c 191%2c 9%2c 1)'%3e%3c/path%3e%3cpath d='M1784.9 21.48a22.52 22.52 0 1 0-44.67 5.72z' stroke='rgba(120%2c 191%2c 9%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1011'%3e%3crect width='1900' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    justify-content: center;
    height: auto;
    background-color: var(--theme-color);
}

.reserve__body{
    display: flex;
    width: 70%;
    align-items: center;

}
.reserve__form{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.reserve__title{
font-size: 3em;
margin: 0 0;
font-weight: bold;
text-shadow: -1px 2px 3px rgba(0,0,0,0.47);
}
.reserve__title-yellow{
background-color: var(--secondary-color);
width: 80%;
border-radius: 90px;
left: 0;
}

.reserve__subtitle{
margin: 0;
font-size: 1em;
font-weight: bold;
color: var(--font-color-other);
}

.reserve__input-container{
    display: flex;
    padding: 30px 0;
    flex-wrap: wrap;

}
.form_style{
    border: 3px solid lightgray;
    background-color: var(--themme-color);
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
    margin: 10px
}

.reserve__select-food{
    width: 78%;
}
.reserve__date{
    width: calc(39% - 10px);
}
.reserve__time{
    width: calc(39% - 10px);
}

.reserve__images{
    display: flex;
    width: 50%;
}

.reserve__images-1{
    width: 50%;
    top: 0;
    
}
.img {
    display: flex;
    width: 300px;
    height: 500px;
    border-radius: 200px;
    background-image:  url("../img/arepa.jpeg");
    background-repeat: no-repeat;
    background-position: left;
   justify-content: center;
   align-items: center;
   
}

.reserve__img-button-play{
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    background-color: var(--primary-color);
    box-shadow: 10px 10px 200px 80px rgba(0,0,0,0.75);
    position: relative;
    cursor: pointer;
    justify-content: center;
    align-items: center;

}

.reserve__img-button-icon{
    width: 0; 
    height: 0; 
    border-left: 35px solid var(--secondary-color);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    margin-left: 10px;
}

.images__arepa:focus-within{
    animation: Anim__arepa 25s ease .2s infinite normal forwards; 
}
.reserve__img-button-play:focus{
animation: btn-off 1s ease 0s 1 normal forwards;
}


@keyframes btn-off{
    0% {
        opacity: 1;
        transform: scale(1.5);
        }

        100%{
            opacity: 0;
            transform: scale(.5);
        }
}
@keyframes Anim__arepa {
	0% {
		background-position: left;
	}
    50%{
        background-position: right;
    }
    100%{
        background-position: left;
    }
}

.reserve__images-2{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    flex-wrap: wrap;
   
}

.images__pabellon{
    background-image: url("../img/pabellon.jpg");
    
}

.images__pabellon:focus-within{
    animation: Anim__arepa 25s ease .2s infinite normal forwards;
}
.reserve__img-button-play-2:focus{
animation: btn-off 1s ease 0s 1 normal forwards;
}

.reserve__images-button{
    display: flex;
    justify-content: space-evenly;
    width: 250px;
    height: 70px;
    background-color: var(--theme-color);
    border: none;
   align-items: center;
   margin: 0 0 80px 0;
   box-shadow: 5px 5px 24px -9px rgba(0,0,0,0.64);
   border-radius: 50px;
   font-weight: bold;
   align-self: center;
}

.reserve__icon{
    background-color: var(--secondary-color);
    position: relative;
    font-size: 1.5em !important;
    border-radius: 50%;
    padding: 3px;
}
@media(max-width: 1200px){
    .reserve__images-button{

    margin: 0;
    }
    .reserve__body{

        width: 95%;
    }

    .reserve__title{
        font-size: 3em;
      }
        .reserve__title-yellow{
        width: 100%;
        }

        .reserve__select-food{
            width: 100%;
        }
        .reserve__date{
            width: calc(48% - 10px);
        }
        .reserve__time{
            width: calc(48% - 10px);
        }
        

.reserve__images{
    flex-wrap: wrap;
    position: relative;
}

.reserve__images-2{
   position: absolute;
   right: 75px;

}

.reserve__images-button{
   margin: 0;

}
}

@media(max-width: 950px){
    .reserve__form-button{
        align-self: flex-end;
    }
    .reserve__body{
        flex-direction: column;
        width: 95%;
    }

    .reserve__select-food{
        width: 78%;
    }
    .reserve__date{
        width: calc(39% - 10px);
    }
    .reserve__time{
        width: calc(39% - 10px);
    }

    .reserve__form{
        width: 100%;
        margin-bottom: 30px;
       
    }

    .reserve__title-yellow{
        width: 80%;
        }
    .reserve__images{
        display: flex;
        width: 100%;
       
        
    }

    .reserve__images-2{
        position: relative;
        right: 0;
     
     }

}


@media(max-width: 650px){
    .reserve__subtitle{
        font-size: .7em;
        }
    .reserve__title{
        font-size: 2em;
      }
        .reserve__title-yellow{
        width: 100%;
        }

        .reserve__select-food{
            width: 94%;
        }
        .reserve__date{
            width: calc(47% - 10px);
        }
        .reserve__time{
            width: calc(47% - 10px);
        }


    .reserve__images{
        flex-direction: column;
    }
    .reserve__images-1{
        display: none;
    }
    .reserve__images-2{
       width: 100%;
       align-items: center;
    }
.images__pabellon{
    margin-top: 20px;
    
}
}