.reservation{
    display: flex;
    background-color: var(--theme-color-reverse); 
    width: 100%;
    justify-content: center;
}

.reservation__container{
    display: flex;
    width: 70%;
    padding: 40px 0;
    flex-direction: column;
   
}


.reservation__subtitle{
    font-size: 1em;
    margin: 0;
    color: var(--primary-color);
}
 
.reservation__title{
    font-size: 2em;
    margin: 0;
    margin-bottom: 60px;
}

.reservation__body{
    display: flex;
    justify-content: space-between;
}

.reservation__contacts-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-between;
}

.reservation__contacts{
    display: flex;
    align-items: center;
}

.reservation__contacts-details{
    display: flex;
    flex-direction: column;
}

.reservation__contacts span{
    background-color: var(--secondary-color) !important;
    padding: 10px;
    margin-right: 10px;
    border-radius: 50%;
}
.reservation__contacts-details p{
    color: var(--primary-color);
    margin: 0;
    font-size: .7em;
    font-weight: bold;
}

.reservation__contacts-details a{
    margin: 0;
    font-size: .7em;
    font-weight: bold;
}

.reservation__form-container{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
}

.reservation__select{
    width: 100%;
}

.reservation__input-size{
width: calc(50% - 20px);
}

.reservation__footer{
    display: flex;
    width: 65%;
    justify-content: space-between;
    align-self: flex-end;
}

.reservation__footer p{
    font-size: .7em;
    font-weight: bold;
}

@media(max-width: 1200px){
    .reservation__container{
        width: 95%;   
    }

}

@media(max-width: 950px){

}

@media(max-width: 650px){

    .reservation__body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .reservation__contacts-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }

    .reservation__contacts{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .reservation__form-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .reservation__footer{
 
        width: 100%;
  
    }
}